html, body {
	width: 100%;
	height: 100%;
	background-color: #000;
	color: #fff;
	margin: 0px;
	padding: 0;
	overflow: hidden;
}

canvas {
	position: fixed;
	top: 0;
}

#container {
	position: fixed;
}

#buttons {
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 1;
	/*to prevent mouse selection of the button*/
	user-select: none;
	-webkit-user-select: none;
}
#buttons i {
	color: #ccc;
	font-size: 150%;
	margin-bottom: 0.4em;
	margin-right: 0.4em;
}
#buttons i:hover {
	color: #fff;
	text-shadow: 0px 0px 5px lightblue, 0px 0px 10px lightblue;
	cursor: pointer;
}


.splashScreen {
	position: absolute;
	z-index: 1;

	width: 100%;
	height: 100%;

	background-color: rgba(255,255,255,0.5);
        
        font-family: monospace;
        font-size: 20px;
}

.splashScreen .instructions {
	width: 100%;
	height: 100%;

	display: -webkit-box;
	display: -moz-box;
	display: box;

	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	box-orient: horizontal;

	-webkit-box-pack: center;
	-moz-box-pack: center;
	box-pack: center;

	-webkit-box-align: center;
	-moz-box-align: center;
	box-align: center;

	color: #ffffff;
	text-align: center;

	cursor: pointer;
}
